In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Read in CSV file
all_nba_df = pd.read_csv("Resources\End of Season Teams.csv")
all_nba_df.head()

,season,lg,type,number_tm,player,position,seas_id,player_id,birth_year,tm,age
0,2022,NBA,All-Defense,1st,Giannis Antetokounmpo,NaN,29918,4164,NaN,MIL,27
1,2022,NBA,All-Defense,1st,Jaren Jackson Jr.,NaN,29991,4632,NaN,MEM,22
2,2022,NBA,All-Defense,1st,Marcus Smart,NaN,30183,4275,NaN,BOS,27
3,2022,NBA,All-Defense,1st,Mikal Bridges,NaN,30205,4658,NaN,PHO,25
4,2022,NBA,All-Defense,1st,Rudy Gobert,NaN,30313,4199,NaN,UTA,29

In [3]:
# Filter All-NBA players after year 2010. Keep only columns: all_nba, seas_id
modern_all_nba = all_nba_df[(all_nba_df['season'] >= 2010) & (all_nba_df['type'] == 'All-NBA')][['type','seas_id']]

print(modern_all_nba.info())
modern_all_nba.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195 entries, 10 to 446
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   type     195 non-null    object
 1   seas_id  195 non-null    int64
dtypes: int64(1), object(1)
memory usage: 4.6+ KB
None

       type  seas_id
10  All-NBA    29850
11  All-NBA    29918
12  All-NBA    30010
13  All-NBA    30158
14  All-NBA    30247

In [4]:
# Read in CSV file
player_totals_df = pd.read_csv("Resources\Player Totals.csv")
player_totals_df.head()

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,ft_percent,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,30458,2023,5025,A.J. Green,NaN,SG,23.0,1,NBA,MIL,...,1.000,5.0,26.0,31.0,18,6.0,0.0,8.0,26,127
1,30459,2023,5026,A.J. Lawson,NaN,SG,22.0,1,NBA,TOT,...,0.333,2.0,8.0,10.0,1,1.0,0.0,1.0,8,34
2,30460,2023,5026,A.J. Lawson,NaN,SG,22.0,1,NBA,MIN,...,NaN,0.0,1.0,1.0,0,0.0,0.0,0.0,1,2
3,30461,2023,5026,A.J. Lawson,NaN,SG,22.0,1,NBA,DAL,...,0.333,2.0,7.0,9.0,1,1.0,0.0,1.0,7,32
4,30462,2023,4219,Aaron Gordon,NaN,PF,27.0,9,NBA,DEN,...,0.622,120.0,229.0,349.0,151,40.0,39.0,81.0,98,865

In [44]:
# Filter data after 2010
modern_player_totals = player_totals_df.loc[player_totals_df['season'] >= 2010]

# Categorize positions into 3 categories
modern_player_totals['forward'] = modern_player_totals['pos'].str.contains('f', case=False).astype(int)
modern_player_totals['guard'] = modern_player_totals['pos'].str.contains('g', case=False).astype(int)
modern_player_totals['center'] = modern_player_totals['pos'].str.contains('c', case=False).astype(int)

# Drop unnecessary columns
modern_player_totals.drop(['birth_year','player_id','player','lg','tm','pos','fg_percent','x3p_percent','x2p_percent','ft_percent','e_fg_percent'], axis=1, inplace=True)

# print(modern_player_totals.info())
modern_player_totals.head()

C:\Users\freew\AppData\Local\Temp\ipykernel_2792\2895478692.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  modern_player_totals['forward'] = modern_player_totals['pos'].str.contains('f', case=False).astype(int)
C:\Users\freew\AppData\Local\Temp\ipykernel_2792\2895478692.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  modern_player_totals['guard'] = modern_player_totals['pos'].str.contains('g', case=False).astype(int)
C:\Users\freew\AppData\Local\Temp\ipykernel_2792\2895478692.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  modern_player_totals['center'] = modern_player_totals['pos'].str.contains('c', case=False).astype(int)
C:\Users\freew\AppData\Local\Temp\ipykernel_2792\2895478692.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  modern_player_totals.drop(['birth_year','player_id','player','lg','tm','pos','fg_percent','x3p_percent','x2p_percent','ft_percent','e_fg_percent'], axis=1, inplace=True)

,seas_id,season,age,experience,g,gs,mp,fg,fga,x3p,...,trb,ast,stl,blk,tov,pf,pts,forward,guard,center
0,30458,2023,23.0,1,28,0.0,267.0,44,99,35.0,...,31.0,18,6.0,0.0,8.0,26,127,0,1,0
1,30459,2023,22.0,1,13,0.0,63.0,13,26,7.0,...,10.0,1,1.0,0.0,1.0,8,34,0,1,0
2,30460,2023,22.0,1,1,0.0,2.0,1,1,0.0,...,1.0,0,0.0,0.0,0.0,1,2,0,1,0
3,30461,2023,22.0,1,12,0.0,61.0,12,25,7.0,...,9.0,1,1.0,0.0,1.0,7,32,0,1,0
4,30462,2023,27.0,9,51,51.0,1533.0,331,566,50.0,...,349.0,151,40.0,39.0,81.0,98,865,1,0,0

In [46]:
merged_nba = pd.merge(modern_all_nba, modern_player_totals, on='seas_id', how='right')
merged_nba['all_nba'] = merged_nba['type'].notnull().astype(int)

merged_nba.drop('type', axis=1, inplace=True)

print(merged_nba.info())
merged_nba.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8929 entries, 0 to 8928
Data columns (total 28 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   seas_id     8929 non-null   int64
 1   season      8929 non-null   int64
 2   age         8929 non-null   float64
 3   experience  8929 non-null   int64
 4   g           8929 non-null   int64
 5   gs          8929 non-null   float64
 6   mp          8929 non-null   float64
 7   fg          8929 non-null   int64
 8   fga         8929 non-null   int64
 9   x3p         8929 non-null   float64
 10  x3pa        8929 non-null   float64
 11  x2p         8929 non-null   int64
 12  x2pa        8929 non-null   int64
 13  ft          8929 non-null   int64
 14  fta         8929 non-null   int64
 15  orb         8929 non-null   float64
 16  drb         8929 non-null   float64
 17  trb         8929 non-null   float64
 18  ast         8929 non-null   int64
 19  stl         8929 non-null   float64
 20  blk         8929 non-null   float64
 21  tov         8929 non-null   float64
 22  pf          8929 non-null   int64
 23  pts         8929 non-null   int64
 24  forward     8929 non-null   int32
 25  guard       8929 non-null   int32
 26  center      8929 non-null   int32
 27  all_nba     8929 non-null   int32
dtypes: float64(11), int32(4), int64(13)
memory usage: 1.8 MB
None

,seas_id,season,age,experience,g,gs,mp,fg,fga,x3p,...,ast,stl,blk,tov,pf,pts,forward,guard,center,all_nba
0,30458,2023,23.0,1,28,0.0,267.0,44,99,35.0,...,18,6.0,0.0,8.0,26,127,0,1,0,0
1,30459,2023,22.0,1,13,0.0,63.0,13,26,7.0,...,1,1.0,0.0,1.0,8,34,0,1,0,0
2,30460,2023,22.0,1,1,0.0,2.0,1,1,0.0,...,0,0.0,0.0,0.0,1,2,0,1,0,0
3,30461,2023,22.0,1,12,0.0,61.0,12,25,7.0,...,1,1.0,0.0,1.0,7,32,0,1,0,0
4,30462,2023,27.0,9,51,51.0,1533.0,331,566,50.0,...,151,40.0,39.0,81.0,98,865,1,0,0,0

# MACHINE LEARNING

In [39]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [47]:
test_data = merged_nba[merged_nba['season'] <= 2022]

# Split the data into X_train, X_test, y_train, y_test
X = test_data.drop("all_nba", axis=1)
y = test_data["all_nba"]
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Scale the features using a standard scaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [48]:
# Train a Logistic Regression model and print the model score
classifier = LogisticRegression(max_iter=10000)

classifier.fit(X_train_scaled, y_train)

print(f"Training Data Score: {classifier.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test_scaled, y_test)}")

Training Data Score: 0.988596209444266
Testing Data Score: 0.9860308285163777

In [76]:
# Make predictions on new data
prediction_data = merged_nba[merged_nba['season'] == 2023].drop('all_nba', axis=1)
prediction_data_scaled = scaler.transform(prediction_data)
proba = classifier.predict_proba(prediction_data_scaled)

# Add the All-NBA probability to the prediction_data dataframe as percentage
prediction_data['All-NBA Probability'] = np.around(proba[:, 1] * 100 , 2)
prediction_data.sort_values(by='All-NBA Probability', ascending=False, inplace=True)

In [81]:
# Merge in player names
player_info = player_totals_df[['seas_id', 'player', 'tm']]

predicted_players = pd.merge(player_info, prediction_data, on='seas_id', how='right')
# predicted_players = predicted_players.sort_values(by='All-NBA Probability', ascending=False)
predicted_players.head(35)

,seas_id,player,tm,season,age,experience,g,gs,mp,fg,...,ast,stl,blk,tov,pf,pts,forward,guard,center,All-NBA Probability
0,30847,Luka Dončić,DAL,2023,23.0,5,53,53.0,1930.0,594,...,428,79.0,27.0,192.0,140,1759,0,1,0,93.56
1,30924,Nikola Jokić,DEN,2023,27.0,8,55,55.0,1846.0,516,...,551,70.0,36.0,196.0,142,1354,0,0,1,90.89
2,30653,Giannis Antetokounmpo,MIL,2023,28.0,10,49,49.0,1589.0,549,...,262,37.0,37.0,192.0,163,1533,1,0,0,85.29
3,30843,LeBron James,LAL,2023,38.0,20,47,47.0,1695.0,532,...,326,44.0,26.0,147.0,79,1388,1,0,0,83.71
4,30742,Joel Embiid,PHI,2023,28.0,7,48,48.0,1683.0,525,...,196,53.0,78.0,170.0,153,1584,0,0,1,75.27
5,31000,Shai Gilgeous-Alexander,OKC,2023,24.0,5,54,54.0,1918.0,553,...,307,89.0,58.0,155.0,145,1674,0,1,0,65.03
6,30561,Damian Lillard,POR,2023,32.0,11,48,48.0,1739.0,466,...,347,41.0,14.0,151.0,93,1541,0,1,0,53.83
7,30728,Jayson Tatum,BOS,2023,24.0,6,58,58.0,2166.0,569,...,272,60.0,45.0,172.0,123,1748,1,0,0,52.61
8,30812,Kevin Durant,BRK,2023,34.0,15,39,39.0,1403.0,410,...,207,32.0,57.0,136.0,92,1158,1,0,0,34.60
9,30591,DeMar DeRozan,CHI,2023,33.0,14,56,56.0,2023.0,508,...,282,55.0,30.0,124.0,152,1403,1,0,0,29.68
10,30737,Jimmy Butler,MIA,2023,33.0,12,47,47.0,1569.0,340,...,239,93.0,16.0,82.0,60,1029,1,0,0,24.25
11,30781,Julius Randle,NYK,2023,28.0,9,63,63.0,2256.0,537,...,259,42.0,18.0,174.0,188,1582,1,0,0,22.24
12,30680,Ja Morant,MEM,2023,23.0,4,51,51.0,1662.0,493,...,417,55.0,13.0,177.0,86,1389,0,1,0,18.65
13,31008,Stephen Curry,GSW,2023,34.0,14,38,38.0,1313.0,372,...,244,37.0,15.0,122.0,82,1119,0,1,0,17.80
14,30583,De'Aaron Fox,SAC,2023,25.0,6,55,55.0,1877.0,519,...,345,63.0,18.0,147.0,135,1397,0,1,0,16.40
15,30482,Anthony Davis,LAL,2023,29.0,11,38,36.0,1266.0,368,...,93,42.0,80.0,81.0,103,980,0,0,1,16.04
16,30708,James Harden,PHI,2023,33.0,14,44,44.0,1614.0,288,...,471,55.0,26.0,151.0,88,950,0,1,0,15.07
17,30833,Kyrie Irving,TOT,2023,30.0,12,47,47.0,1736.0,461,...,259,48.0,37.0,105.0,132,1257,0,1,0,13.26
18,30609,Domantas Sabonis,SAC,2023,26.0,7,59,59.0,2035.0,417,...,410,50.0,27.0,176.0,217,1108,0,0,1,12.84
19,30940,Pascal Siakam,TOR,2023,28.0,7,53,53.0,1985.0,479,...,318,44.0,29.0,132.0,174,1337,0,0,1,12.11
20,31042,Trae Young,ATL,2023,24.0,5,55,55.0,1942.0,469,...,557,57.0,9.0,225.0,85,1489,0,1,0,11.04
21,30611,Donovan Mitchell,CLE,2023,26.0,6,53,53.0,1875.0,503,...,253,82.0,21.0,143.0,127,1441,0,1,0,10.02
22,30841,Lauri Markkanen,UTA,2023,25.0,6,57,57.0,1959.0,487,...,103,35.0,34.0,107.0,117,1440,1,0,0,9.98
23,30694,Jalen Brunson,NYK,2023,26.0,5,59,59.0,2075.0,495,...,364,53.0,15.0,119.0,134,1391,0,1,0,8.28
24,30926,Nikola Vučević,CHI,2023,32.0,12,62,62.0,2097.0,453,...,205,41.0,50.0,108.0,138,1106,0,0,1,7.67
25,31056,Tyrese Haliburton,IND,2023,22.0,3,51,51.0,1713.0,366,...,517,87.0,23.0,129.0,60,1024,0,1,0,7.34
26,30834,Kyrie Irving,BRK,2023,30.0,12,40,40.0,1478.0,398,...,211,41.0,33.0,91.0,109,1084,0,1,0,6.05
27,30483,Anthony Edwards,MIN,2023,21.0,3,64,64.0,2327.0,570,...,289,107.0,44.0,218.0,158,1577,0,1,0,5.50
28,30829,Kristaps Porziņģis,WAS,2023,27.0,7,51,51.0,1663.0,377,...,130,44.0,78.0,112.0,156,1162,0,0,1,5.13
29,30948,Paul George,LAC,2023,32.0,13,47,47.0,1618.0,381,...,243,69.0,17.0,155.0,126,1105,0,1,0,3.98
30,30489,Bam Adebayo,MIA,2023,25.0,6,57,57.0,1997.0,479,...,184,69.0,45.0,145.0,161,1211,0,0,1,3.87
31,30725,Jaylen Brown,BOS,2023,26.0,7,50,50.0,1787.0,494,...,161,57.0,22.0,153.0,136,1327,1,0,0,3.86
32,30791,Kawhi Leonard,LAC,2023,31.0,11,37,35.0,1225.0,309,...,148,51.0,21.0,58.0,58,852,1,0,0,3.76
33,30589,Dejounte Murray,ATL,2023,26.0,6,57,57.0,2075.0,479,...,345,85.0,18.0,127.0,81,1188,0,1,0,3.63
34,31081,Zach LaVine,CHI,2023,27.0,9,58,58.0,2081.0,486,...,233,55.0,13.0,151.0,129,1395,0,1,0,3.51

In [83]:
top_guards = predicted_players[predicted_players['guard'] == 1].head(10)
top_forwards = predicted_players[predicted_players['forward'] == 1].head(10)
top_centers = predicted_players[predicted_players['center'] == 1].head(10)

In [91]:
print("Top Guards")
print(top_guards.head(10).to_markdown())
print('-----------------------------------------------------------------------------------------------------')
print("Top Forwards")
print(top_forwards.head(10).to_markdown())
print('-----------------------------------------------------------------------------------------------------')
print("Top Centers")
print(top_centers.head(6).to_markdown())

Top Guards
|    |   seas_id | player                  | tm   |   season |   age |   experience |   g |   gs |   mp |   fg |   fga |   x3p |   x3pa |   x2p |   x2pa |   ft |   fta |   orb |   drb |   trb |   ast |   stl |   blk |   tov |   pf |   pts |   forward |   guard |   center |   All-NBA Probability |
|---:|----------:|:------------------------|:-----|---------:|------:|-------------:|----:|-----:|-----:|-----:|------:|------:|-------:|------:|-------:|-----:|------:|------:|------:|------:|------:|------:|------:|------:|-----:|------:|----------:|--------:|---------:|----------------------:|
|  0 |     30847 | Luka Dončić             | DAL  |     2023 |    23 |            5 |  53 |   53 | 1930 |  594 |  1175 |   145 |    415 |   449 |    760 |  426 |   583 |    46 |   419 |   465 |   428 |    79 |    27 |   192 |  140 |  1759 |         0 |       1 |        0 |                 93.56 |
|  5 |     31000 | Shai Gilgeous-Alexander | OKC  |     2023 |    24 |            5 |  54 |   54 | 1918 |  553 |  1091 |    47 |    139 |   506 |    952 |  521 |   574 |    48 |   208 |   256 |   307 |    89 |    58 |   155 |  145 |  1674 |         0 |       1 |        0 |                 65.03 |
|  6 |     30561 | Damian Lillard          | POR  |     2023 |    32 |           11 |  48 |   48 | 1739 |  466 |   990 |   206 |    542 |   260 |    448 |  403 |   438 |    33 |   174 |   207 |   347 |    41 |    14 |   151 |   93 |  1541 |         0 |       1 |        0 |                 53.83 |
| 12 |     30680 | Ja Morant               | MEM  |     2023 |    23 |            4 |  51 |   51 | 1662 |  493 |  1062 |    82 |    264 |   411 |    798 |  321 |   432 |    57 |   249 |   306 |   417 |    55 |    13 |   177 |   86 |  1389 |         0 |       1 |        0 |                 18.65 |
| 13 |     31008 | Stephen Curry           | GSW  |     2023 |    34 |           14 |  38 |   38 | 1313 |  372 |   751 |   185 |    433 |   187 |    318 |  190 |   206 |    22 |   219 |   241 |   244 |    37 |    15 |   122 |   82 |  1119 |         0 |       1 |        0 |                 17.8  |
| 14 |     30583 | De'Aaron Fox            | SAC  |     2023 |    25 |            6 |  55 |   55 | 1877 |  519 |  1007 |    87 |    263 |   432 |    744 |  272 |   346 |    26 |   208 |   234 |   345 |    63 |    18 |   147 |  135 |  1397 |         0 |       1 |        0 |                 16.4  |
| 16 |     30708 | James Harden            | PHI  |     2023 |    33 |           14 |  44 |   44 | 1614 |  288 |   640 |   126 |    321 |   162 |    319 |  248 |   287 |    24 |   248 |   272 |   471 |    55 |    26 |   151 |   88 |   950 |         0 |       1 |        0 |                 15.07 |
| 17 |     30833 | Kyrie Irving            | TOT  |     2023 |    30 |           12 |  47 |   47 | 1736 |  461 |   947 |   150 |    401 |   311 |    546 |  185 |   207 |    49 |   191 |   240 |   259 |    48 |    37 |   105 |  132 |  1257 |         0 |       1 |        0 |                 13.26 |
| 20 |     31042 | Trae Young              | ATL  |     2023 |    24 |            5 |  55 |   55 | 1942 |  469 |  1093 |   119 |    364 |   350 |    729 |  432 |   486 |    40 |   121 |   161 |   557 |    57 |     9 |   225 |   85 |  1489 |         0 |       1 |        0 |                 11.04 |
| 21 |     30611 | Donovan Mitchell        | CLE  |     2023 |    26 |            6 |  53 |   53 | 1875 |  503 |  1050 |   194 |    499 |   309 |    551 |  241 |   275 |    49 |   164 |   213 |   253 |    82 |    21 |   143 |  127 |  1441 |         0 |       1 |        0 |                 10.02 |
-----------------------------------------------------------------------------------------------------
Top Forwards
|    |   seas_id | player                | tm   |   season |   age |   experience |   g |   gs |   mp |   fg |   fga |   x3p |   x3pa |   x2p |   x2pa |   ft |   fta |   orb |   drb |   trb |   ast |   stl |   blk |   tov |   pf |   pts |   forward |   guard |   center |   All-NBA Probability |
|---:|----------:|:----------------------|:-----|---------:|------:|-------------:|----:|-----:|-----:|-----:|------:|------:|-------:|------:|-------:|-----:|------:|------:|------:|------:|------:|------:|------:|------:|-----:|------:|----------:|--------:|---------:|----------------------:|
|  2 |     30653 | Giannis Antetokounmpo | MIL  |     2023 |    28 |           10 |  49 |   49 | 1589 |  549 |  1019 |    39 |    143 |   510 |    876 |  396 |   616 |   112 |   479 |   591 |   262 |    37 |    37 |   192 |  163 |  1533 |         1 |       0 |        0 |                 85.29 |
|  3 |     30843 | LeBron James          | LAL  |     2023 |    38 |           20 |  47 |   47 | 1695 |  532 |  1061 |   100 |    325 |   432 |    736 |  224 |   295 |    57 |   339 |   396 |   326 |    44 |    26 |   147 |   79 |  1388 |         1 |       0 |        0 |                 83.71 |
|  7 |     30728 | Jayson Tatum          | BOS  |     2023 |    24 |            6 |  58 |   58 | 2166 |  569 |  1238 |   190 |    541 |   379 |    697 |  420 |   486 |    65 |   440 |   505 |   272 |    60 |    45 |   172 |  123 |  1748 |         1 |       0 |        0 |                 52.61 |
|  8 |     30812 | Kevin Durant          | BRK  |     2023 |    34 |           15 |  39 |   39 | 1403 |  410 |   734 |    71 |    189 |   339 |    545 |  267 |   286 |    14 |   248 |   262 |   207 |    32 |    57 |   136 |   92 |  1158 |         1 |       0 |        0 |                 34.6  |
|  9 |     30591 | DeMar DeRozan         | CHI  |     2023 |    33 |           14 |  56 |   56 | 2023 |  508 |   998 |    27 |     88 |   481 |    910 |  360 |   410 |    23 |   230 |   253 |   282 |    55 |    30 |   124 |  152 |  1403 |         1 |       0 |        0 |                 29.68 |
| 10 |     30737 | Jimmy Butler          | MIA  |     2023 |    33 |           12 |  47 |   47 | 1569 |  340 |   657 |    25 |     78 |   315 |    579 |  324 |   384 |   103 |   176 |   279 |   239 |    93 |    16 |    82 |   60 |  1029 |         1 |       0 |        0 |                 24.25 |
| 11 |     30781 | Julius Randle         | NYK  |     2023 |    28 |            9 |  63 |   63 | 2256 |  537 |  1159 |   176 |    510 |   361 |    649 |  332 |   438 |   132 |   530 |   662 |   259 |    42 |    18 |   174 |  188 |  1582 |         1 |       0 |        0 |                 22.24 |
| 22 |     30841 | Lauri Markkanen       | UTA  |     2023 |    25 |            6 |  57 |   57 | 1959 |  487 |   952 |   174 |    425 |   313 |    527 |  292 |   332 |   106 |   382 |   488 |   103 |    35 |    34 |   107 |  117 |  1440 |         1 |       0 |        0 |                  9.98 |
| 31 |     30725 | Jaylen Brown          | BOS  |     2023 |    26 |            7 |  50 |   50 | 1787 |  494 |  1016 |   126 |    375 |   368 |    641 |  213 |   274 |    63 |   288 |   351 |   161 |    57 |    22 |   153 |  136 |  1327 |         1 |       0 |        0 |                  3.86 |
| 32 |     30791 | Kawhi Leonard         | LAC  |     2023 |    31 |           11 |  37 |   35 | 1225 |  309 |   611 |    69 |    169 |   240 |    442 |  165 |   189 |    43 |   183 |   226 |   148 |    51 |    21 |    58 |   58 |   852 |         1 |       0 |        0 |                  3.76 |
-----------------------------------------------------------------------------------------------------
Top Centers
|    |   seas_id | player           | tm   |   season |   age |   experience |   g |   gs |   mp |   fg |   fga |   x3p |   x3pa |   x2p |   x2pa |   ft |   fta |   orb |   drb |   trb |   ast |   stl |   blk |   tov |   pf |   pts |   forward |   guard |   center |   All-NBA Probability |
|---:|----------:|:-----------------|:-----|---------:|------:|-------------:|----:|-----:|-----:|-----:|------:|------:|-------:|------:|-------:|-----:|------:|------:|------:|------:|------:|------:|------:|------:|-----:|------:|----------:|--------:|---------:|----------------------:|
|  1 |     30924 | Nikola Jokić     | DEN  |     2023 |    27 |            8 |  55 |   55 | 1846 |  516 |   815 |    45 |    113 |   471 |    702 |  277 |   337 |   128 |   515 |   643 |   551 |    70 |    36 |   196 |  142 |  1354 |         0 |       0 |        1 |                 90.89 |
|  4 |     30742 | Joel Embiid      | PHI  |     2023 |    28 |            7 |  48 |   48 | 1683 |  525 |   987 |    50 |    148 |   475 |    839 |  484 |   563 |    86 |   414 |   500 |   196 |    53 |    78 |   170 |  153 |  1584 |         0 |       0 |        1 |                 75.27 |
| 15 |     30482 | Anthony Davis    | LAL  |     2023 |    29 |           11 |  38 |   36 | 1266 |  368 |   656 |    13 |     55 |   355 |    601 |  231 |   285 |   127 |   350 |   477 |    93 |    42 |    80 |    81 |  103 |   980 |         0 |       0 |        1 |                 16.04 |
| 18 |     30609 | Domantas Sabonis | SAC  |     2023 |    26 |            7 |  59 |   59 | 2035 |  417 |   679 |    24 |     69 |   393 |    610 |  250 |   326 |   175 |   555 |   730 |   410 |    50 |    27 |   176 |  217 |  1108 |         0 |       0 |        1 |                 12.84 |
| 19 |     30940 | Pascal Siakam    | TOR  |     2023 |    28 |            7 |  53 |   53 | 1985 |  479 |  1004 |    76 |    220 |   403 |    784 |  303 |   394 |    98 |   311 |   409 |   318 |    44 |    29 |   132 |  174 |  1337 |         0 |       0 |        1 |                 12.11 |
| 24 |     30926 | Nikola Vučević   | CHI  |     2023 |    32 |           12 |  62 |   62 | 2097 |  453 |   877 |   102 |    287 |   351 |    590 |   98 |   119 |   127 |   577 |   704 |   205 |    41 |    50 |   108 |  138 |  1106 |         0 |       0 |        1 |                  7.67 |